<!-- head.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .main-bg{
            background-color: #5eb1bf;
        }
        .dark-bg{
            background-color: #042a2b;
        }
        .light-bg{
            background-color: #cdedf6;
        }
        .txt-main{
            color: #5eb1bf;
        }
        .txt-dark{
            color: #042a2b;
        }
        .txt-light{
            color: #cdedf6;
        }
        .row-prim{
            background-color: #BCF4DE;
        }
        .row-sec{
            background-color: #BFD8CC;
            
        }
        .row-container:nth-child(2n){
            /* background-color: #BCF4DE; */
            background-color: #CDE5D7;
        }

        .column-container div:not(:last-child){
            border-right: 1px solid gray;
        }

        .row-container div:not(:last-child){
            border-right: 1px solid gray;
        }
        
        
    </style>
    <title>Document</title>
</head>