<%- include ('./partials/head') %>

<body class="grid grid-cols-7">
    <%- include ('./partials/sidebar') %>
    <div class="col-span-6 h-screen light-bg flex align-middle justify-center items-center">
        <h1>Admin database management<br>
            Check the tables on the left <br>
            Please don't share password with anyone
        </h1>
    </div>
</body>

<%- include ('./partials/end') %>